body {
    text-align: center;
    color: white;
    font-weight: bolder;
    background-image: url("/home/junior/Documentos/curso/Zodiaco-JR/Zodiaco/imagens/fundo.webp");
}
.menu {
    list-style: none;
    display: flex;
    text-align: left;
}
.simbolo {
    float: left;
    width: 30%;
}
.cavaleiro {
    float: right;
    width: 40%;
}
.cavaleiro img{
    margin-bottom: 10px;
}
.cavaleiro h3 {
    margin-top: 0;
}
.informacao {
    clear: both;
    padding-left: 600px;
}
#rodape {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}