body {
    text-align: center;
    color: white;
    font-weight: bolder;
    background-image: url("/home/junior/Documentos/curso/Zodiaco-JR/Zodiaco/imagens/fundo.webp");
}
.menu {
    list-style: none;
    display: flex;
    text-align: left;
}
#rodape {
    padding-top: 20px;
    clear: both;
}