body {
    text-align: center;
    color: white;
    font-weight: bolder;
    background-image: url("/home/junior/Documentos/curso/Zodiaco-JR/Zodiaco/imagens/fundo.webp");
}
h2 {
    margin: 0;
}
.ajuste{
    display: flex;
    justify-content: space-between;
}
.menu {
    list-style: none;
}
.esquerda {
    width: 550px;
    padding:9px 20px;
}
.direita {
    width: 550px;
    padding:0 20px;
}
.centro {
    width: 160px;
    margin-top: 200px;
}
#rodape {
    padding-top: 20px;
    clear: both;
    color: white;
}
