body {
    text-align: center;
    color: rgb(211, 81, 21);
    font-weight: bolder;
    background-image: url("/home/junior/Documentos/curso/Zodiaco-JR/Zodiaco/imagens/fundo.webp");
}
h2 {
    margin: 0;
}
div {    
    color: white;
}
#esquerda {
    display: block;
    width: 550px;
    float: left;
    padding:9px 50px;
}
#direita {
    display: block;
    width: 550px;
    float: right;
    padding:0 50px;
}
#rodape {
    padding-top: 40px;
    clear: both;
    color: white;
}
